@import '../../style/variables';

.#{$prefix}breadcrumb {
  &__ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.45);
    font-size: $breadcrumb-font-size;
  }

  &-item {
    &__separator {
      margin: 0 8px;
    }

    a {
      color: rgba(0, 0, 0, 0.45);
      transition: all 300ms;

      &:hover {
        color: $primary-color;
      }
    }

    &:last-child {
      color: rgba(0, 0, 0, 0.75);

      .#{$prefix}breadcrumb-item {
        &__separator {
          display: none;
        }
      }
    }
  }
}
