@import '../../style/variables';

.#{$prefix}-breadcrumb {
  &__ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    color: var(--ty-color-text-tertiary);
    font-size: $breadcrumb-font-size;
  }

  &-item {
    &__separator {
      margin: 0 8px;
    }

    a {
      color: var(--ty-color-text-tertiary);
      transition: all 300ms;

      &:hover {
        color: var(--ty-color-primary);
      }
    }

    &:last-child {
      color: var(--ty-color-text);

      .#{$prefix}-breadcrumb-item {
        &__separator {
          display: none;
        }
      }
    }
  }
}
