@import "../../../themes/index";

.#{$prefix}layout {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;

  &_has-sider {
    flex-direction: row;
  }
}

.#{$prefix}layout-header {
  box-sizing: border-box;
  height: $layout-header-height;
  background-color: $layout-header-background;
}

.#{$prefix}layout-footer {
  box-sizing: border-box;
  padding: $layout-footer-padding;
  background-color: $layout-footer-background;
}

.#{$prefix}layout-content {
  flex: 1;
  box-sizing: border-box;
  background-color: $layout-body-background;
}

.#{$prefix}layout-sider {
  box-sizing: border-box;
}
