@import "../../../themes/index";

.#{$prefix}layout {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;

  &_has-sider {
    flex-direction: row;
  }
}

.#{$prefix}layout-header {
  box-sizing: border-box;
  height: $layout-header-height;
  background-color: $layout-header-background;
}

.#{$prefix}layout-footer {
  box-sizing: border-box;
  padding: $layout-footer-padding;
  background-color: $layout-footer-background;
}

.#{$prefix}layout-content {
  flex: 1;
  box-sizing: border-box;
  background-color: $layout-body-background;
}

.#{$prefix}layout-sider {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition: all 200ms;
  overflow: hidden;
  background: $layout-sider-background;
  color: #fff;

  &:last-child {
    .#{$prefix}layout-sider__trigger-icon {
      transform: rotateY(180deg);
    }
  }

  &__children {
    flex: 1;
  }

  &__trigger {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    cursor: pointer;
    height: 40px;
    background-color: rgb(0, 33, 64);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_light {
    background-color: #fff;
    color: #333;

    .#{$prefix}layout-sider {
      &__trigger {
        background-color: #efefef;
      }

      &__trigger-icon {
        color: #bbb;
      }
    }
  }
}
