@use '../../style/variables' as *;

@mixin badge-base {
  box-sizing: border-box;
  display: inline-block;
  z-index: 10;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  border-radius: $badge-size;
  box-shadow: var(--ty-badge-shadow);
}
