@import '../../style/variables';

.#{$prefix}-anchor {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #f0f0f0;
  list-style: none;

  &__link {
    padding: 7px 0 7px 16px;

    .#{$prefix}-anchor{
      padding-top: 5px;
      padding-bottom: 5px;
      border: 0;
    }

    & > a {
      display: block;
      overflow: hidden;
      color: rgba(0, 0, 0, .65);
      white-space: nowrap;
      text-overflow: ellipsis;
      border-left: 2px solid transparent;
      text-decoration: none;

      &:hover {
        color: $primary-color;
      }
    }
  }
}
