@import '../../style/variables';

.#{$prefix}-anchor {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  list-style: none;
  position: relative;
  background-color: #fff;

  &__ink {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    &:before {
      content: '';
      position: relative;
      display: block;
      width: 2px;
      height: 100%;
      margin: 0 auto;
      background-color: #f0f0f0;
    }
  }

  &__ink-ball {
    position: absolute;
    left: 50%;
    display: none;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border: 2px solid $primary-color;
    border-radius: 8px;
    transform: translateX(-50%);
    transition: top .3s ease-in-out;
  }

  &__link {
    padding: 7px 0 7px 16px;

    .#{$prefix}-anchor {
      border: 0;
    }

    &_active {
      & > a {
        color: $primary-color;
      }
    }
  }

  &__link-title {
    display: block;
    overflow: hidden;
    color: rgba(0, 0, 0, .65);
    white-space: nowrap;
    text-overflow: ellipsis;
    border-left: 2px solid transparent;

    &:hover {
      color: $primary-color;
      text-decoration: none;
    }

    &:not(:only-child) {
      margin-bottom: 5px;
    }
  }
}
