# Created by .ignore support plugin (hsz.mobi)
# IntelliJ project files
.idea
*.iml

/node_modules
/core/node_modules
/site/node_modules
/dist

/core/themes/**/*.css.map
/core/themes/**/*.css
/site/src/**/*.css.map
/site/src/**/*.css

/site/src/pages/test
/core/src/template

/core/lib
/core/dist
