# Created by .ignore support plugin (hsz.mobi)
# IntelliJ project files
.idea
*.iml

/node_modules
/core/node_modules
/site/node_modules
/dist

/core/**/style/*.css.map
/core/**/style/*.css

/site/src/pages/test
/core/component/template
