# Created by .ignore support plugin (hsz.mobi)
_template
coverage
scripts
design
test
docs
jest.config.js
tsdown.config.ts
site
.idea
.prettierignore
.prettierrc
.commitlintrc.js
.cz-config.js
.eslintignore
eslint.config.mjs
.versionrc.js
postcss.config.js
tsconfig.json
tsconfig.test.json
test-setup.js
.DS_Store
*.iml
.husky
