# Created by .ignore support plugin (hsz.mobi)
scripts
template
test
docs
jest.config.js
test-setup.js
webpack.config.js
site
.idea
.travis.yml
.babelrc
.prettierignore
.prettierrc
postcss.config.js
.DS_Store
*.iml
