# Created by .ignore support plugin (hsz.mobi)
_template
scripts
test
docs
jest.config.js
test-setup.js
webpack.config.js
site
.idea
.travis.yml
.babelrc
.prettierignore
.prettierrc
.commitlintrc.js
.cz-config.js
.eslintrc.js
.versionrc.js
postcss.config.js
tsconfig.json
.DS_Store
*.iml
