@import '../../style/variables';

.#{$prefix}-pagination {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  list-style: none;

  &_left {
    text-align: left;
  }

  &_center {
    text-align: center;
  }

  &_right {
    text-align: right;
  }

  &_disabled {
    .#{$prefix}-pagination__item_active {
      background: #dbdbdb !important;
      border-color: transparent !important;
      color: #fff !important;
    }
  }

  &__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    list-style: none;
    background-color: #fff;
    border-radius: 2px;
    outline: 0;
    cursor: pointer;
    user-select: none;
    transition: all 400ms;

    &_disabled {
      cursor: not-allowed;
    }

    &_ellipsis {
      color: rgba(0, 0, 0, 0.25);

      &:hover {
        color: $primary-color;
      }
    }
  }

  &__left-arrow {
    transform: rotate(90deg);
  }

  &__right-arrow {
    transform: rotate(-90deg);
  }

  &_md {
    .#{$prefix}-pagination__item {
      min-width: 32px;
      height: 32px;
      margin-left: 4px;
      margin-right: 4px;
      line-height: 30px;
      border: 1px solid #d9d9d9;

      &_active {
        color: $primary-color;
        border-color: $primary-color;
      }

      &:hover {
        border-color: $primary-color;
      }

      &_disabled {
        color: rgba(0, 0, 0, 0.45);
        background: #f5f5f5;
        border-color: #d9d9d9;

        &:hover {
          border-color: #d9d9d9;
        }
      }

      &_ellipsis {
        border: 0;
      }
    }
  }

  &_sm {
    .#{$prefix}-pagination__item {
      min-width: 24px;
      height: 24px;
      margin-left: 0.5px;
      margin-right: 0.5px;
      line-height: 22px;
      border-color: transparent;

      &_active {
        color: $primary-color;
        border: 1px solid $primary-color;
      }

      &:hover {
        color: $primary-color;
      }

      &_disabled {
        color: #d9d9d9;
        border-color: #d9d9d9;

        &:hover {
          color: #d9d9d9;
        }
      }
    }
  }
}
