@import '../../style/variables';

.#{$prefix}-pagination {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--ty-color-text-secondary);
  font-size: 14px;
  list-style: none;

  &_left {
    text-align: left;
  }

  &_center {
    text-align: center;
  }

  &_right {
    text-align: right;
  }

  &_disabled {
    .#{$prefix}-pagination__item_active {
      background: var(--ty-pagination-disabled-active-bg) !important;
      border-color: transparent !important;
      color: #fff !important;
    }
  }

  &__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    list-style: none;
    background-color: var(--ty-pagination-bg);
    border-radius: 2px;
    outline: 0;
    cursor: pointer;
    user-select: none;
    transition: all 400ms;

    > button {
      background: none;
      border: none;
      padding: 0;
      color: inherit;
      font: inherit;
      cursor: inherit;
      width: 100%;
      height: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    &_disabled {
      cursor: not-allowed;
    }

    &_ellipsis {
      color: var(--ty-color-text-quaternary);

      &:hover {
        color: var(--ty-color-primary);
      }
    }
  }

  &__left-arrow {
    transform: rotate(90deg);
  }

  &__right-arrow {
    transform: rotate(-90deg);
  }

  &_md {
    .#{$prefix}-pagination__item {
      min-width: 32px;
      height: 32px;
      margin-left: 4px;
      margin-right: 4px;
      line-height: 30px;
      border: 1px solid var(--ty-color-border);

      &_active {
        color: var(--ty-color-primary);
        border-color: var(--ty-color-primary);
      }

      &:hover {
        border-color: var(--ty-color-primary);
      }

      &_disabled {
        color: var(--ty-color-text-tertiary);
        background: var(--ty-pagination-disabled-bg);
        border-color: var(--ty-color-border);

        &:hover {
          border-color: var(--ty-color-border);
        }
      }

      &_ellipsis {
        border: 0;
      }
    }
  }

  &_sm {
    .#{$prefix}-pagination__item {
      min-width: 24px;
      height: 24px;
      margin-left: 0.5px;
      margin-right: 0.5px;
      line-height: 22px;
      border-color: transparent;

      &_active {
        color: var(--ty-color-primary);
        border: 1px solid var(--ty-color-primary);
      }

      &:hover {
        color: var(--ty-color-primary);
      }

      &_disabled {
        color: var(--ty-pagination-disabled-color);
        border-color: var(--ty-pagination-disabled-color);

        &:hover {
          color: var(--ty-pagination-disabled-color);
        }
      }
    }
  }
}
