@import '../../style/variables';

.#{$prefix}result {
  padding: 48px 32px;
  box-sizing: border-box;

  &__icon-container {
    margin-bottom: 24px;
    text-align: center;
    box-sizing: border-box;
  }

  &__icon {
    font-size: 80px;

    &_success {
      color: $green-color;
    }

    &_warning {
      color: $yellow-color;
    }

    &_error {
      color: $red-color;
    }

    &_info {
      color: $blue-color;
    }

    &_loading {
      color: $blue-color;
    }
  }

  &__title {
    color: rgba(0, 0, 0, 0.85);
    font-size: 24px;
    line-height: 1.8;
    text-align: center;
    box-sizing: border-box;
  }

  &__subtitle {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    box-sizing: border-box;
  }

  &__extra {
    margin-top: 32px;
    text-align: center;
    box-sizing: border-box;
  }

  &__content {
    margin-top: 24px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 24px 40px;
    background-color: #fafafa;
    box-sizing: border-box;
  }
}
