@use '../../style/variables' as *;

.#{$prefix}-popover {

  &__title {
    margin: 0;
    padding: 9px 16px 7px;
    font-weight: 500;
    min-width: 177px;
    min-height: 32px;
  }

  &__content {
    padding: 12px 15px;
  }

  &_light {
    .#{$prefix}-popover {
      &__title {
        color: var(--ty-color-text);
        border-bottom: 1px solid var(--ty-color-border-secondary);
      }

      &__content {
        color: var(--ty-color-text-secondary);
      }
    }
  }

  &_dark {
    .#{$prefix}-popover {
      &__title {
        color: #fff;
        border-bottom: 1px solid var(--ty-popover-dark-border);
      }

      &__content {
        color: #fff;
      }
    }
  }
}
