@import '../../style/variables';

.#{$prefix}-modal {
  position: relative;
  font-family: $font-family;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  top: 100px;

  &__content {
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    background-clip: padding-box;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: all 300ms;

    &_slide {
      &-enter {
        transform: translateY(-20px);
      }

      &-enter-done {
        transform: translateY(0);
      }

      &-exit {
        transform: translateY(0);
      }

      &-exit-done {
        transform: translateY(-20px);
      }
    }

    &_scale {
      &-enter {
        transform: scale(0);
      }

      &-enter-done {
        transform: scale(1);
      }

      &-exit {
        transform: scale(1);
      }

      &-exit-done {
        transform: scale(0);
      }
    }
  }

  &__header {
    box-sizing: border-box;
    padding: 16px 24px;
    color: rgba(0, 0, 0, 0.65);
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 4px 4px 0 0;
  }

  &__title {
    margin: 0;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }

  &__close-btn {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.45);
    width: 56px;
    height: 56px;
    line-height: 56px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
  }

  &__body {
    box-sizing: border-box;
    padding: 24px;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
  }

  &__footer {
    box-sizing: border-box;
    padding: 12px 16px;
    text-align: right;
    border-top: 1px solid #e8e8e8;
    border-radius: 0 0 4px 4px;
  }

  &__footer-btn {
    margin-bottom: 0;
  }

  &_centered {
    align-items: center;
    top: 0;
  }
}
