@import '../../style/variables';

.ty-loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  &__inner {
    height: 3px;
    width: 0;
    opacity: 1;
    transition: opacity 400ms;
    background-color: $primary-color;
  }
}
