@forward "../../../packages/react/src/style/variables";

$main-color: #6E41BF;
$header-height: 60px;
$font-family: 'Wix Madefor Text', -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";