@use '../../style/variables' as *;

.#{$prefix}-dropdown {

  .#{$prefix}-menu, .#{$prefix}-menu-sub__list {
    padding: 4px 0;

    .#{$prefix}-menu-item_active {
      background-color: transparent;
      color: var(--ty-color-text);
    }

    .#{$prefix}-menu-item {
      padding: 8px 15px;
      margin: 0;

      &:hover:not(.#{$prefix}-menu-item_disabled) {
        background-color: var(--ty-color-bg-spotlight);
        color: var(--ty-color-text);
      }
    }
  }

  .#{$prefix}-menu:before{
    content: none;
  }

  .#{$prefix}-menu-item-group {
    &__title {
      padding: 8px 10px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
