@import '../../style/variables';

.#{$prefix} {
  &h1,
  &h2,
  &h3,
  &h4,
  &h5,
  &h6,
  &p {
    box-sizing: border-box;
    font-family: $font-family;
  }

  &h1,
  &h2,
  &h3,
  &h4,
  &h5,
  &h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
  }

  &h1 {
    font-size: $h1-font-size;
    line-height: 1.23;
  }

  &h2 {
    font-size: $h2-font-size;
    line-height: 1.35;
  }

  &h3 {
    font-size: $h3-font-size;
    line-height: 1.35;
  }

  &h4 {
    font-size: $h4-font-size;
    line-height: 1.4;
  }

  &h5 {
    font-size: $h5-font-size;
    line-height: 1.2;
  }

  &h6 {
    font-size: $h6-font-size;
    line-height: 1.2;
  }

  &p {
    margin-top: 0;
    margin-bottom: 0.2em;
    color: rgba(0, 0, 0, 0.65);
    font-size: $font-size-base;
  }
}
