@import '../../base';

.home {
  padding-top: $header-height;
  background-size: 250px;

  &__slider {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 90px 0;
  }

  &__logo-container {
    position: relative;
    margin-right: 40px;
  }

  &__react-login-container {
    position: absolute;
    left: 50%;
    top: -200px;
    transform: translateX(-50%);
  }

  &__react-logo {
    width: 900px;
    height: 900px;
    opacity: 0.8;
    animation: logo-spin infinite 50s linear;
  }

  &__logo {
    width: 200px;
  }

  &__title {
    font-weight: 600;
    font-size: 45px;
    margin: 30px 0 0;
  }

  &__subtitle {
    font-weight: 400;
    margin: 10px 0 0 0;
    font-size: 24px;
    color: rgba(26, 32, 44, 0.7);
  }

  &__btn-group {
    margin: 30px 0 0 0;
    display: flex;
  }

  &__btn {
    font-weight: 500;
  }

  &__section {
    border-top: 1px solid rgb(226, 232, 240);
    padding: 70px 0;
  }

  &__feature-title {
    text-align: center;
    font-weight: 500;
    margin: 0px 0 40px;
  }

  &__features {
    display: flex;
    padding: 0 40px;
  }

  &__blueprint {
    width: 70%;
    display: block;
    margin: 0 auto;
  }

  &__p {
    text-align: center;
    color: #888;
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
}
