@mixin btn-color($color, $outline: false) {
    $shadow-hover: 0 14px 26px -12px rgba($color, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba($color, 0.2);
    color: #fff;
    border-color: $color;
    background-color: $color;
    box-shadow: 0 2px 2px 0 rgba($color, 0.14), 0 3px 1px -2px rgba($color, 0.2),
    0 1px 5px 0 rgba($color, 0.12);
    &:hover {
        box-shadow: $shadow-hover;
    }

    &:active {
        background-color: darken($color, 10%);
    }

    @if ($outline) {
        background-color: transparent;
        color: $color;
        &:active {
            background-color: transparent;
            box-shadow: $shadow-hover, inset 0 3px 8px rgba(0, 0, 0, 0.2);
        }
    }
}

@mixin btn-text-color($color) {
    color: $color;
    border: none;
    box-shadow: none;
    font-weight: 400;
    &:hover {
        color: lighten($color, 10%);
    }

    &:active {
        color: darken($color, 8%);
    }
}

@mixin btn-color-disabled($color) {
    opacity: 0.6;
    cursor: not-allowed;
    &:hover {
        box-shadow: 0 2px 2px 0 rgba($color, 0.14), 0 3px 1px -2px rgba($color, 0.2), 0 1px 5px 0 rgba($color, 0.12);
    }
}