@import '../../style/variables';
@import '../../input/style/mixin';

.#{$prefix}-textarea {
  @include input-default();
  padding: $textarea-padding;
  overflow: hidden;

  &_disabled {
    @include input-default-disabled();
  }

  &-container {
    position: relative;

    .#{$prefix}-textarea {
      padding-bottom: 20px;

      &__counter {
        position: absolute;
        bottom: 6px;
        right: 6px;
        font-size: 14px;
        color: #666;
      }
    }
  }
}
