@import "../../style/variables";
@import "./mixin";

.#{$prefix}-menu {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  border: 0;

  &_horizontal {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      border-bottom: 1px solid;
      width: 100%;
      bottom: 0;
    }

    .#{$prefix}-menu-item {
      height: 48px;
      padding: 0 15px;
      line-height: 48px;
      margin: 0 5px;
      border-bottom: 2px solid transparent;
      position: relative;

      &_active {
        color: $primary-color;
        border-bottom-color: $primary-color;
      }
    }
  }

  &_inline, &_vertical {
    flex-direction: column;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      border-right: 1px solid;
      height: 100%;
      right: 0;
    }

    .#{$prefix}-menu-item {
      padding: $menu-item-padding-vertical;
      margin: 5px 0;
      position: relative;
    }
  }

  &_inline li.#{$prefix}-menu-item_active {
    @include menu-item-active($primary-color, true);
  }

  &_vertical li.#{$prefix}-menu-item_active {
    @include menu-item-active($primary-color);
  }

  &_light {
    color: $font-color;
    background: #fff;

    &:before {
      border-color: #f0f0f0;
    }
  }

  &_dark {
    color: rgba(255, 255, 255, .65);
    background: #001529;

    &:before {
      border-color: #001529;
    }
  }
}

.#{$prefix}-menu-item {
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 300ms, color 250ms;

  &:hover {
    color: $primary-color;
  }

  &_disabled {
    color: $gray-700 !important;
    opacity: .5;
    cursor: not-allowed;
  }
}

.#{$prefix}-menu-sub {

  .#{$prefix}-popup__wrapper {
    display: block;
  }

  &__list {
    margin: 0;
    min-width: 100%;
    list-style: none;
    padding-left: 0;
    white-space: nowrap;

    .#{$prefix}-menu-item {
      @include menu-sub-item-style();
    }

    &_popup {
      min-width: 160px;

      li.#{$prefix}-menu-item_active {
        @include menu-item-active($primary-color);
      }
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.#{$prefix}-menu-item_active {
      color: $primary-color;
    }
  }

  &__arrow {
    display: inline-block;
    transition: transform 300ms;
    margin-left: 20px;

    &_reverse {
      transform: rotate(180deg);
    }

    &_right {
      transform: rotate(-90deg);
    }
  }
}

.#{$prefix}-menu-item-group {
  box-sizing: border-box;

  &__title {
    padding: 10px 16px;
    color: rgba(0, 0, 0, .45);
    font-size: 14px;
    cursor: default;

    &:first-child {
      margin-top: 4px;
    }
  }

  &__list {
    list-style: none;
    padding-left: 0;
    white-space: nowrap;

    > .#{$prefix}-menu-item {
      padding: 12px 35px 12px 25px;
    }
  }
}

.#{$prefix}-menu-divider {
  height: 1px;
  background-color: rgba(0, 0, 0, .1);
  margin: 5px 0;
}
