@import "../../style/variables";
@import "./mixin";

.#{$prefix}menu {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  border: 0;
  color: $gray-700;

  &_horizontal {
    border-bottom: 1px solid #f0f0f0;

    > .#{$prefix}menu-item {
      padding: 15px;
      margin: 0 5px;
      border-bottom: 2px solid transparent;
      position: relative;
      top: 1px;

      &_active {
        color: $primary-color;
        border-bottom-color: $primary-color;
      }
    }

    .#{$prefix}menu-sub {

      &_active {
        color: $primary-color;
        border-bottom-color: $primary-color;
      }

      &__list {
        position: absolute;
        z-index: 1;
        top: calc(100% + 2px);
        left: 0;
        background-color: $white-color;
        color: $gray-700;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 6px 0 rgba(0, 0, 0, .04);
        border-radius: $menu-sub-border-radius;

        &_open {
          display: block;
        }

        > .#{$prefix}menu-item_active {
          @include menu-item-active($primary-color);
        }
      }
    }

    .#{$prefix}menu-item-group {
      &__list {
        > .#{$prefix}menu-item_active {
          @include menu-item-active($primary-color);
        }
      }
    }
  }

  &_vertical {
    flex-direction: column;
    border-right: 1px solid #f0f0f0;

    > .#{$prefix}menu-item {
      padding: $menu-item-padding-vertical;
      margin: 5px 0;
      position: relative;
      right: -1px;

      &_active {
        @include menu-item-active($primary-color, true);
      }
    }

    .#{$prefix}menu-sub {
      padding: 0;
      margin: 0;

      &_active {
        .#{$prefix}menu-sub__title {
          color: $primary-color;
        }
      }

      &__title {
        padding: $menu-item-padding-vertical;
        margin: 5px 0;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__list {
        color: $body-color;

        > .#{$prefix}menu-item {
          padding: 0 48px;
        }

        &_open {
          display: block;
        }

        > .#{$prefix}menu-item_active {
          @include menu-item-active($primary-color, true);
        }
      }
    }

    .#{$prefix}menu-item-group {
      &__title {
        padding: 10px 30px;
      }

      &__list {
        > .#{$prefix}menu-item {
          padding: 0 48px;

          &_active {
            @include menu-item-active($primary-color, true);
          }
        }
      }
    }
  }
}

.#{$prefix}menu-item {
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 300ms;

  &:hover {
    color: $primary-color;
  }

  &_disabled {
    color: $gray-700 !important;
    opacity: .5;
    cursor: not-allowed;
  }
}

.#{$prefix}menu-sub {
  box-sizing: border-box;
  position: relative;

  &__list {
    //display: none;
    min-width: 100%;
    list-style: none;
    padding-left: 0;
    white-space: nowrap;

    > .#{$prefix}menu-item {
      padding: 0 20px;
      @include menu-sub-item-style();
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__arrow {
    display: inline-block;
    width: 10px;
    margin-left: 10px;
    transform: translateY(-1px);

    &:before, &:after {
      content: '';
      position: absolute;
      width: 6px;
      height: 2px;
      border-radius: 1px;
      background: currentColor;
      transform-origin: center;
      transition: all .3s cubic-bezier(.645, .045, .355, 1);
    }

    &:before {
      transform: rotate(-45deg) translateX(2px);
    }

    &:after {
      transform: rotate(45deg) translateX(-2px);
    }

    &_reverse{
      &:before {
        transform: rotate(45deg) translateX(2px);
      }

      &:after {
        transform: rotate(-45deg) translateX(-2px);
      }
    }
  }
}

.#{$prefix}menu-item-group {
  box-sizing: border-box;

  &__title {
    padding: 10px 16px;
    color: rgba(0, 0, 0, .45);
    font-size: 14px;
    cursor: default;

    &:first-child {
      margin-top: 4px;
    }
  }

  &__list {
    list-style: none;
    padding-left: 0;
    white-space: nowrap;

    .#{$prefix}menu-item {
      padding: 0 30px;
      @include menu-sub-item-style();
    }
  }
}
