@mixin menu-sub-item-style($padding: 12px 20px){
  padding: $padding;
  margin-top: 4px;
  margin-bottom: 4px;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
}

@mixin menu-item-active($color, $display-right-border: false){
  background-color: rgba($color, .2);
  color: $color;
  @if $display-right-border {
    border-right: 3px solid $color;
  }
}
