body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Avenir Next", Arial, "Helvetica Neue", Helvetica, sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  color: #0d1a26;
  font-weight: 500;
}

strong {
  font-weight: 600;
}

a {
  text-decoration-line: none;
}

div{
  font-size: 14px;
}
