@use '../../style/variables' as *;

.#{$prefix}-kbd {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid var(--ty-kbd-border);
  border-bottom-color: var(--ty-kbd-border-bottom);
  border-radius: 4px;
  font-size: 11px;
  line-height: 1;
  vertical-align: middle;
  background-color: var(--ty-kbd-bg);
  box-shadow: var(--ty-kbd-shadow);
  color: var(--ty-kbd-color);
  cursor: pointer;
  user-select: none;

  &:active {
    transform: translate3d(0, 1px, 0);
    box-shadow: none;
  }
}
