@import "./mixin";

@include zoom-animation('top', scaleY(0), scaleY(1), center top);
@include zoom-animation('left', scaleX(0), scaleX(1), top left);
@include zoom-animation('right', scaleX(0), scaleX(1), top right);
@include zoom-animation('bottom', scaleY(0), scaleY(1),  center bottom);
