@import "../../style/variables";

.#{$prefix}-select {

  &__dropdown {
    width: 100%;
    top: calc(100% + 3px);
    margin: 0;
    padding: 4px 0;
    list-style-type: none;
    background-color: var(--ty-select-dropdown-bg);
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    box-shadow: var(--ty-shadow-popup);
    border-radius: $border-radius;
    font-size: $font-size-base;
    max-height: $select-dropdown-max-height;
  }

  &__arrow {
    display: inline-block;
    transition: transform 300ms;

    &_reverse {
      transform: rotate(180deg);
    }
  }
}

.#{$prefix}-select-option {
  padding: 7px 12px;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
  color: var(--ty-color-text);
  transition: all 300ms;

  &_active {
    background-color: var(--ty-select-option-active-bg);
  }

  &_selected {
    background-color: var(--ty-select-option-selected-bg);
    font-weight: $select-selected-font-weight;
  }

  &_disabled {
    cursor: not-allowed;
    background-color: var(--ty-select-option-disabled-bg);
    opacity: .5;
  }
}

.#{$prefix}-select-group {

  &__title {
    font-size: $font-size-sm;
    cursor: default;
    color: $gray-600;
    padding: 7px 12px;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > .#{$prefix}-select-option {
      padding-left: 24px;
    }
  }
}
