@import '../../style/variables';

.#{$prefix}drawer {
  position: fixed;
  background-color: #fff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);

  &__close-btn {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.45);
    width: 56px;
    height: 56px;
    line-height: 56px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
  }

  &_left,
  &_right {
    bottom: 0;
    top: 0;
  }

  &_top,
  &_bottom {
    left: 0;
    right: 0;
  }

  &_top {
    top: 0;
  }

  &_bottom {
    bottom: 0;
  }

  &_right {
    right: 0;

    &-enter .#{$prefix}drawer__content {
      transform: translateX(100%);
    }

    &-enter-active .#{$prefix}drawer__content {
      transform: translateX(0);
    }
  }

  &_left {
    left: 0;
  }
}
