@import '../../style/variables';

.#{$prefix}drawer {
  position: fixed;

  &__content {
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
    transition: all 300ms;
    display: flex;
    flex-direction: column;
  }

  &__header,
  &__body,
  &__footer {
    padding: 16px 24px;
  }

  &__header {
    border-bottom: 1px solid #e8e8e8;
  }

  &__body {
    flex-grow: 1;
  }

  &__footer {
    border-top: 1px solid #e8e8e8;
  }

  &__close-btn {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.45);
    width: 56px;
    height: 56px;
    line-height: 56px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
  }

  &_left,
  &_right {
    bottom: 0;
    top: 0;
  }

  &_top,
  &_bottom {
    left: 0;
    right: 0;
  }

  &_top {
    top: 0;

    .#{$prefix}drawer__content_move {
      &-enter {
        transform: translateY(-100%);
      }

      &-enter-done {
        transform: translateY(0);
      }

      &-exit {
        transform: translateY(0);
      }

      &-exit-done {
        transform: translateY(-100%);
      }
    }
  }

  &_bottom {
    bottom: 0;

    .#{$prefix}drawer__content_move {
      &-enter {
        transform: translateY(100%);
      }

      &-enter-done {
        transform: translateY(0);
      }

      &-exit {
        transform: translateY(0);
      }

      &-exit-done {
        transform: translateY(100%);
      }
    }
  }

  &_right {
    right: 0;

    .#{$prefix}drawer__content_move {
      &-enter {
        transform: translateX(100%);
      }

      &-enter-done {
        transform: translateX(0);
      }

      &-exit {
        transform: translateX(0);
      }

      &-exit-done {
        transform: translateX(100%);
      }
    }
  }

  &_left {
    left: 0;

    .#{$prefix}drawer__content_move {
      &-enter {
        transform: translateX(-100%);
      }

      &-enter-done {
        transform: translateX(0);
      }

      &-exit {
        transform: translateX(0);
      }

      &-exit-done {
        transform: translateX(-100%);
      }
    }
  }
}
