@import '../../style/variables';

.#{$prefix}-timeline {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.65);
  font-size: $font-size-base;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  list-style: none;
}

.#{$prefix}-timeline-item {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 20px;
  font-size: 14px;
  list-style: none;

  &:last-child {
    .#{$prefix}-timeline-item__head {
      &:before {
        display: none;
      }
    }
  }

  &__head {
    width: 16px;
    background-color: #fff;
    position: absolute;
    color: $primary-color;
    height: 100%;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      border-left: 2px solid #e8e8e8;
    }
  }

  &__dot-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
  }

  &__dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid $primary-color;
    border-radius: 100px;
  }

  &__content {
    position: relative;
    top: 0;
    padding-left: 25px;
  }

  &_left,
  &_right {
    .#{$prefix}-timeline-item__head {
      left: 50%;
    }
  }

  &_left {
    .#{$prefix}-timeline-item__content {
      left: 50%;
      width: 50%;
    }
  }

  &_right {
    .#{$prefix}-timeline-item__content {
      width: 50%;
      text-align: right;
      padding-left: 0;
      padding-right: 9px;
    }
  }
}
