@import '../../style/variables';

.#{$prefix}-dropdown {

  .#{$prefix}-menu, .#{$prefix}-menu-sub__list {
    padding: 4px 0;

    .#{$prefix}-menu-item_active {
      background-color: transparent;
      color: $font-color;
    }

    .#{$prefix}-menu-item {
      padding: 8px 15px;
      margin: 0;

      &:hover:not(.#{$prefix}-menu-item_disabled) {
        background-color: #f5f5f5;
        color: $font-color;
      }
    }
  }

  .#{$prefix}-menu-item-group {
    &__title {
      padding: 8px 10px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
