@import "../../../themes/index";

@font-face {
  font-family: 'tiny';
  src: url('../../../themes/iconfont/iconfont.eot');
  src: url('../../../themes/iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../../../themes/iconfont/iconfont.woff') format('woff'),
  url('../../../themes/iconfont/iconfont.ttf') format('truetype'),
  url('../../../themes/iconfont/iconfont.svg#tiny') format('svg');
  font-weight: normal;
  font-style: normal;
}

.#{$prefix}icon {
  font-family: "tiny" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &_spin:before {
    display: inline-block;
    animation: ty-rotate 1s linear infinite;
  }
}
