@use '../../style/variables' as *;
@use './mixin' as *;

.#{$prefix}-card {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-radius: $card-border-radius;
  transition: all 0.3s;
  background-color: var(--ty-card-bg);

  & + & {
    margin-top: 15px;
  }

  & > img:first-child {
    border-radius: $card-border-radius $card-border-radius 0 0;
  }

  &_bordered {
    border: 1px solid var(--ty-card-border);
  }

  &_hoverable {
    cursor: pointer;
    &:hover {
      @include card_elevation();
    }
  }

  &_active {
    @include card_elevation();
  }

  &__header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: $card-header-padding;
    color: var(--ty-card-header-color);
    font-weight: 500;
    font-size: 16px;
    background: transparent;
    border-bottom: 1px solid var(--ty-card-border);
    border-radius: $card-border-radius $card-border-radius 0 0;
  }

  &__body {
    box-sizing: border-box;
    padding: $card-body-padding;
  }

  &__footer {
    box-sizing: border-box;
    padding: $card-footer-padding;
  }
}
