@import '../../style/variables';

// use for the `input` tag
@mixin input-default {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  color: var(--ty-color-text);
  border: 1px solid var(--ty-input-border);
  transition: all 0.3s;
  outline: 0;
  border-radius: $input-border-radius;
  font-size: $font-size-base;
  background-color: var(--ty-input-bg);

  &:hover {
    border-color: var(--ty-color-primary);
  }

  &:focus {
    border-color: var(--ty-input-focus-border);
    box-shadow: var(--ty-input-focus-shadow);
  }

  &::placeholder {
    color: var(--ty-color-text-placeholder);
  }
}

@mixin input-default-disabled {
  cursor: not-allowed;
  background-color: var(--ty-input-disabled-bg);
  color: var(--ty-input-disabled-color);

  &:hover {
    border-color: var(--ty-input-border);
  }
}
