@import '../../style/variables';

// use for the `input` tag
@mixin input-default {
  font-family: $font-family;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  color: $input-font-color;
  border: 1px solid #d9d9d9;
  transition: all 0.3s;
  outline: 0;
  border-radius: $input-border-radius;
  font-size: $font-size;

  &:hover {
    border-color: $primary-color;
  }

  &:focus {
    border-color: rgba($primary-color, 0.8);
    box-shadow: 0 0 0 2px rgba($primary-color, 0.2);
  }

  &::placeholder {
    color: #bfbfbf;
  }
}

@mixin input-default-disabled {
  cursor: not-allowed;
  background-color: #f4f4f5;
  color: #999;

  &:hover {
    border-color: #d9d9d9;
  }
}
