@import '../../variables';

.markdown {
  &__layout {
    display: flex;
    margin: 0 -8px;
  }

  &__column {
    flex: 1;
    padding: 0 8px;
  }

  &__demo {
    flex-grow: 1;
    border: 1px solid #eaeefb;
    border-radius: 3px;
    margin-bottom: 16px;

    .markdown {
      &__heading-3 {
        color: #314659;
        font-size: 16px;
        font-weight: 600;
        position: relative;
        margin-bottom: 20px;
        margin-left: 24px;
        margin-right: 24px;

        &:after {
          content: '';
          position: absolute;
          top: calc(100% + 5px);
          left: 0;
          width: 20px;
          height: 2px;
          transform: translateY(-50%);
          background-color: rgba($main-color, 0.8);
        }
      }

      &__p {
        margin: 0 24px;
        line-height: 1.6;
      }

      &__blockquote {
        margin: 15px 24px;

        .markdown__p {
          margin: 0;
        }
      }
    }
  }

  &__pre-container {
    code {
      line-height: 2;
      font-size: 13px;
      overflow: auto;
    }
    .prism-code {
      margin: 0;
      border: 1px solid #eee;
      border-radius: 3px;
    }
  }

  &__heading-1 {
    font-size: 28px;
    margin: 5px 0 10px;
    border-bottom: 1px solid #eaecef;
    padding-bottom: 10px;
  }

  &__heading-2 {
    font-size: 23px;
    margin: 1.6em 0 0.6em;
  }

  &__heading-3 {
    font-size: 17px;
    margin: 1.5em 0 0.8em;

    .markdown__link {
      font-size: 19px;
    }
  }

  &__heading-2,
  &__heading-3 {
    & > a {
      opacity: 0;
      margin-left: 5px;
      text-decoration: none;
      font-size: 0.8em;
      transition: opacity 250ms;
    }

    &:hover {
      & > a {
        opacity: 1;
      }
    }
  }

  &__heading-4 {
    font-size: 16px;
  }

  &__p {
    color: #34343d;
    margin: 0.5em 0 0.5em;
    line-height: 28px;
  }

  &__inline-code {
    font-size: 0.8em;
    background: #f2f4f5;
    margin: 0 1px;
    padding: 0.2em 0.4em;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    line-height: 2;
  }

  &__list {
    list-style-type: circle;
  }

  &__list-item {
    font-size: 14px;
    color: #45454d;
    margin: 1em 0;
  }

  &__blockquote {
    padding-left: 0.8em;
    color: #697b8c;
    font-size: 90%;
    border-left: 4px solid #ebedf0;
    margin: 1em 0;
  }

  &__table {
    font-size: 13px;
    margin-bottom: 10px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border-top: 1px solid #ebedf0;
    border-bottom: 1px solid #ebedf0;

    tbody {
      tr {
        transition: all 300ms;
        &:hover {
          background: rgba(60, 90, 100, 0.04);
        }
      }
    }

    th,
    td {
      text-align: left;
      padding: 12px 13px;
    }

    th {
      color: #5c6b77;
      font-weight: 500;
      white-space: nowrap;
      background: rgba(0, 0, 0, 0.02);
      border-bottom: 2px solid #ebedf0;
    }

    tr {
      border-top: 1px solid #ebedf0;
      background: #fff;
    }

    td {
      font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
      color: #314659;

      &:first-child {
        width: 20%;
        color: #595959;
        font-weight: 600;
      }

      &:nth-child(3) {
        color: #c41d7f;
        text-shadow: 0 1px #fff;
      }

      .markdown__inline-code {
        font-size: 12px;
        color: #c41d7f;
      }
    }
  }
}
