@mixin btn-color($color) {
  border-color: $color;
  background-color: $color;
  color: #fff;

  &:hover {
    opacity: 0.85;
    color: #fff;
    border-color: $color;
  }

  &:active {
    opacity: 1;
    border-color: darken($color, 10%);
    background-color: darken($color, 10%);
  }
}
