@mixin button-style(
  $color,
  $background,
  $border,
  $hover-background: lighten($background, 7.5%),
  $hover-border: lighten($border, 10%),
  $hover-color: $color,
  $active-background: darken($background, 7.5%),
  $active-border: darken($border, 10%),
  $active-color: $color,
) {
  color: $color;
  background: $background;
  border-color: $border;
  &:hover {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
  }

  &:focus {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
  }

  &:active {
    color: $active-color;
    background: $active-background;
    border-color: $active-border;
  }

  &:disabled {
    color: rgba(0, 0, 0, .25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
  }
}

@mixin btn-size($padding, $font-size, $height) {
  padding: $padding;
  font-size: $font-size;
  height: $height;
}
