@import "../variables";

.#{$prefix}carousel {
  position: relative;
  overflow: hidden;

  &__container {
    position: relative;
    list-style: none;
    padding: 0;
  }

  &-item {
    float: left;
  }

  &__arrow-group {
    position: absolute;
    left: 0;
    top: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__arrow-left, &__arrow-right {
    cursor: pointer;
  }

  &__dots-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__dot {
    width: 20px;
    height: 4px;
    background-color: rgba(255, 255, 255, .5);
    margin: 0 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: width 400ms;

    &_active{
      width: 30px;
      background-color: #fff;
    }
  }
}
