@import "../variables";

.#{$prefix}carousel {
  position: relative;
  overflow: hidden;

  &__container {
    position: relative;
    list-style: none;
    padding: 0;
  }

  &-item {
    float: left;
  }

  &__arrow-group {
    position: absolute;
    left: 0;
    top: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__arrow-left, &__arrow-right {
    cursor: pointer;
  }
}
