@import "../variables";

.#{$prefix}checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: $font-size;
  font-family: $font-family;
  margin-right: 8px;
  color: rgba(0, 0, 0, .75);
  box-sizing: border-box;

  &:hover {
    .#{$prefix}checkbox__inner {
      border-color: $primary-color;
    }
  }

  &__native {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    margin: 0;
    padding: 0;
  }

  &__inner {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    transition: 200ms;
    line-height: 1;
    vertical-align: middle;

    &:after {
      transform: rotate(45deg) scaleY(1);
      pointer-events: none;
      box-sizing: content-box;
      content: "";
      border: 2px solid #fff;
      border-left: 0;
      border-top: 0;
      height: 7px;
      left: 4px;
      position: absolute;
      top: 1px;
      width: 4px;
      transform-origin: center;
    }

    & + span {
      padding: 0 5px;
      line-height: 16px;
    }
  }

  &_checked {
    .#{$prefix}checkbox {
      &__inner {
        background-color: $primary-color;
        border-color: $primary-color;

        &:after {
          transform: rotate(45deg) scale(1);
        }

        &:before {
          transform: scale(0);
        }
      }
    }
  }

  &_indeterminate {
    .#{$prefix}checkbox {
      &__inner {
        background-color: $primary-color;
        border-color: $primary-color;

        &:before {
          transform: scale(1);
        }

        &:after {
          transform: rotate(45deg) scale(0);
        }
      }
    }
  }

  &_disabled {
    .#{$prefix}checkbox {
      &__native {
        cursor: not-allowed;
      }

      &__inner {
        background-color: #f5f5f5;
        border-color: #d9d9d9 !important;

        &:after {
          border-color: rgba(0, 0, 0, .25);
        }

        & + span {
          color: rgba(0, 0, 0, .25);
        }
      }
    }
  }

  &-group{
    display: inline-block;
  }
}
