@import "../variables";

.#{$prefix}date-picker {
  display: inline-block;
  width: 280px;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
  font-family: $font-family;
  font-size: $font-size;
}

.#{$prefix}date-picker-header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #eee;

  &__caption {
    flex: 1;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }

  &__month, &__year {
    margin: 0 3px;
    font-weight: 500;
  }

  &__prev-month, &__next-month {
    margin: 0 6px;
  }

  &__prev-year, &__prev-month, &__next-month, &__next-year {
    color: rgba(0, 0, 0, .45);
    font-size: 16px;
  }

  &__prev-year, &__prev-month, &__next-month, &__next-year, &__month, &__year {
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }
  }
}

.#{$prefix}date-picker-day {
  padding: 15px 10px;

  &__table {
    width: 100%;
  }

  &__head {

  }

  &__head-item {
    box-sizing: border-box;
    font-weight: 400;
  }

  &__data-item {
    box-sizing: border-box;
    text-align: center;
  }

  &__day-cell, &__week-cell {
    box-sizing: border-box;
    user-select: none;
    margin: 0 auto;
    line-height: 22px;
    width: 24px;
    height: 24px;
  }

  &__week-cell {
    color: rgba(0, 0, 0, .65);
  }

  &__day-cell {
    color: rgba(0, 0, 0, .25);
    cursor: pointer;
    transition: all 300ms;
    border-radius: 100%;
    border: 1px solid transparent;

    &_active {
      color: rgba(0, 0, 0, .8);
    }

    &_today {
      border-color: $primary-color;
      color: $primary-color;
      font-weight: 500;
    }

    &_selected {
      background-color: $primary-color;
      color: #fff;
    }
  }
}
