@import "../variables";
@import "icon";

.#{$prefix}notification {
  position: relative;
  padding: 16px 24px;
  border-radius: 3px;
  color: rgba(0, 0, 0, .65);
  font-size: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
  box-sizing: border-box;
  display: flex;

  &-container {
    width: $notification-width;
    position: fixed;
    background-color: #fff;
    z-index: 999;
    box-sizing: border-box;
    transition: all 200ms;

    &_top-right, &_bottom-right {
      right: -($notification-width + $notification-margin);
      margin-right: $notification-margin;
    }

    &_top-left, &_bottom-left {
      left: -($notification-width + $notification-margin);
      margin-left: $notification-margin;
    }
  }

  &__close {
    position: absolute;
    right: 24px;
    top: 16px;
    cursor: pointer;
    color: rgba(0, 0, 0, .2);
    user-select: none;
    transition: all 300ms;

    &:hover {
      color: rgba(0, 0, 0, .7);
    }
  }

  &__title {
    padding-right: 24px;
    margin-bottom: 5px;
    color: rgba(0,0,0,0.85);
    font-size: 16px;
    line-height: 24px;
  }

  &__icon{
    margin-right: 15px;
  }
}
