@import "../variables";

.#{$prefix}popover {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 14px;
  text-align: left;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.15));

  &__title {
    margin: 0;
    padding: 7px 16px;
    color: rgba(0, 0, 0, .85);
    font-weight: 500;
    min-width: 177px;
    min-height: 32px;
    border-bottom: 1px solid #e8e8e8;
  }

  &__content {
    padding: 12px 15px;
    color: rgba(0, 0, 0, .65);
  }
}
