$prefix: 'ty-'                        !default;

//color
$default-color: #34495e               !default;
$primary-color: #6E41BF               !default;
$link-color: $primary-color           !default;

//info
$blue-color: #00bcd4                  !default;
$blue-light-color: #91d5ff            !default;
$blue-lighter-color: #e6f7ff          !default;

//success
$green-color: #4caf50                 !default;
$green-light-color: #b7eb8f           !default;
$green-lighter-color: #f6ffed         !default;

//warn
$yellow-color: #ff9800                !default;
$yellow-light-color: #ffe58f          !default;
$yellow-lighter-color: #fffbe6        !default;

//error
$red-color: #f44336                   !default;
$red-light-color: #ffa39e             !default;
$red-lighter-color: #fff1f0           !default;
$white-color: #fff                    !default;

//grey
$gray-color: #bcc3ce                  !default;

//common
$border-radius: 3px                   !default;

//font
$font-color: rgba(0, 0, 0, .65)       !default;
$font-path: 'fonts'                   !default;
$font-size: 14px                      !default;
$font-size-sm: 13px                   !default;
$font-size-lg: 16px                   !default;
$font-weight: 400                     !default;
$font-family: 'Open Sans', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
'PingFang SC', 'Microsoft YaHei', Helvetica, Arial, sans-serif !default;

$height-sm: 24px                      !default;
$height-md: 32px                      !default;
$height-lg: 42px                      !default;

//responsive breakpoints
$size-xs: 480px                       !default;
$size-sm: 600px                       !default;
$size-md: 840px                       !default;
$size-lg: 960px                       !default;
$size-xl: 1280px                      !default;
$size-xxl: 1440px                     !default;

//layout
$layout-body-background: #fff         !default;
$layout-header-background: #fff       !default;
$layout-header-padding: 0 50px        !default;
$layout-header-height: 60px           !default;
$layout-footer-background: #fff       !default;
$layout-footer-padding: 24px 50px     !default;
$layout-sider-background: #12131a     !default;

//button
$btn-border-radius: $border-radius    !default;
$btn-lg-font-size: $font-size-lg      !default;
$btn-lg-padding: 0 28px               !default;
$btn-lg-height: $height-lg            !default;
$btn-md-font-size: $font-size         !default;
$btn-md-padding: 0 15px               !default;
$btn-md-height: $height-md            !default;
$btn-sm-font-size: $font-size-sm      !default;
$btn-sm-padding: 0 10px               !default;
$btn-sm-height: $height-sm            !default;

//alert
$alert-border-radius: 3px             !default;

//avatar
$avatar-bg: #ccc                      !default;
$avatar-color: #fff                   !default;
$avatar-border-radius: 2px            !default;

//collapse
$collapse-border-radius: 4px          !default;

//badge
$badge-font-size: 12px                !default;
$badge-size: 18px                     !default;
$badge-dot-size: 6px                  !default;

//divider
$divider-line-color: #e4e4e4          !default;

//input
$input-font-color: $font-color        !default;
$input-border-radius: $border-radius  !default;
$input-sm-padding: 0 4px              !default;
$input-sm-height: 24px                !default;
$input-sm-font-size: $font-size-sm    !default;
$input-md-padding: 0 6px              !default;
$input-md-font-size: $font-size       !default;
$input-md-height: 32px                !default;
$input-lg-padding: 0 8px              !default;
$input-lg-font-size: $font-size-lg    !default;
$input-lg-height: 42px                !default;

//textarea
$textarea-font-size: $font-size       !default;
$textarea-padding: 5px                !default;

//select
$select-sm-padding: 3px 25px 3px 7px  !default;
$select-sm-font-size: $font-size-sm   !default;
$select-md-padding: 6px 25px 6px 10px !default;
$select-md-font-size: $font-size      !default;
$select-lg-padding: 9px 25px 9px 12px !default;
$select-lg-font-size: $font-size-lg   !default;
$select-border-radius: $border-radius !default;

//switch
$switch-md-font-size: 12px            !default;
$switch-sm-font-size: 9px             !default;
$switch-lg-font-size: 14px            !default;

//notification
$notification-width: 380px            !default;
$notification-margin: 20px            !default;

//breadcrumb
$breadcrumb-font-size: $font-size     !default;
