@import "../variables";

.#{$prefix}avatar {
  font-family: $font-family;
  display: inline-block;
  text-align: center;
  background: $avatar-bg;
  color: $avatar-color;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  user-select: none;

  &__img {
    width: 100%;
    height: 100%;
  }

  &__icon {
    color: $avatar-color;
  }

  &__text {
    position: absolute;
    left: 50%;
    transform-origin: 0 center;
    transform: translateX(-50%);
  }

  &_circle {
    border-radius: 50%;
  }

  &_square {
    border-radius: $avatar-border-radius;
  }

  &_clickable {
    cursor: pointer;
  }
}
