@import "../var";

.#{$prefix}date-picker {
  width: 280px;
  font-size: 14px;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
}

.#{$prefix}date-picker-header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #eee;

  &__caption {
    flex: 1;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }

  &__month, &__year {
    margin: 0 3px;
  }

  &__prev-month, &__next-month {
    margin: 0 6px;
  }

  &__prev-year, &__prev-month, &__next-month, &__next-year {
    color: rgba(0, 0, 0, .45);
    font-size: 16px;
  }

  &__prev-year, &__prev-month, &__next-month, &__next-year, &__month, &__year {
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }
  }
}

.#{$prefix}date-picker-day {
  padding: 15px 10px;

  &__table {
    width: 100%;
  }

  &__head {

  }

  &__head-item {
    font-weight: 400;
  }
}
