@import "../variables";

.#{$prefix}form-item {
  font-family: $font-family;

  &__label {
    box-sizing: border-box;
    display: inline-block;
    font-size: 12px;
    line-height: 30px;
    text-align: right;
    vertical-align: top;
  }

  &__controls {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 10px;
  }

  &__addon {
    margin: 7px 0;
  }

  &__error {
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    color: #f30;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 250ms;

    &_slide {
      &-enter {
        opacity: 0;
        transform: translateY(-10px);
      }

      &-enter-done {
        opacity: 1;
        transform: translateY(0);
      }

      &-exit {
        opacity: 1;
        transform: translateY(0);
      }

      &-exit-done {
        opacity: 0;
        transform: translateY(-10px);
      }
    }
  }

  &__helper {
    font-size: 12px;
    color: #999;
  }

  &__notice {
    font-size: 12px;
    border-radius: 2px;
    background: #fff7cc;
    color: #333;
    padding: 5px;
    margin-bottom: 3px;
  }
}
