@import "../variables";
@import "../font";

.#{$prefix}icon {
  font-family: "tiny" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &_spin:before {
    display: inline-block;
    animation: ty-rotate 1s linear infinite;
  }
}
