@import "../variables";

.#{$prefix}input {
  position: relative;
  font-family: $font-family;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  color: $input-font-color;
  border: 1px solid #d9d9d9;
  transition: all .3s;
  outline: 0;
  border-radius: $input-border-radius;
  font-size: $font-size;

  &__wrapper {
    position: relative;
    color: $input-font-color;
  }

  &__prefix, &__suffix {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    margin: 0 8px;
  }

  &__prefix {
    left: 0;
  }

  &__suffix {
    right: 0;
  }

  &_sm {
    font-size: $input-sm-font-size;
    height: $input-sm-height;
    line-height: $input-sm-height;
  }

  &_md {
    font-size: $input-md-font-size;
    height: $input-md-height;
    line-height: $input-md-height;
  }

  &_lg {
    font-size: $input-lg-font-size;
    height: $input-lg-height;
    line-height: $input-lg-height;
  }

  &:hover {
    border-color: $primary-color;
  }

  &:focus {
    border-color: rgba($primary-color, 0.8);
    box-shadow: 0 0 0 2px rgba($primary-color, 0.2);
  }

  &::placeholder {
    color: #BFBFBF;
  }

  &_disabled {
    cursor: not-allowed;
    background-color: #f4f4f5;
    color: #999;

    &:hover {
      border-color: #d9d9d9;
    }
  }
}

.#{$prefix}input-group {
  width: 100%;
  display: table;
  border-collapse: separate;
  border-spacing: 0;
  box-sizing: border-box;
  position: relative;

  & > .#{$prefix}input__wrapper, .#{$prefix}input-group-addon {
    display: table-cell;
  }

  .#{$prefix}input__wrapper {
    z-index: 1;

    &:first-child {
      .#{$prefix}input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:last-child {
      .#{$prefix}input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &:not(:first-child):not(:last-child) {
      .#{$prefix}input {
        border-radius: 0;
      }
    }
  }
}

.#{$prefix}input-group-addon {
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  text-align: center;
  line-height: 1;
  border-radius: $input-border-radius;
  color: $input-font-color;

  &_sm {
    font-size: $input-sm-font-size;
  }

  &_md {
    font-size: $input-md-font-size;
  }

  &_lg {
    font-size: $input-lg-font-size;
  }

  &:first-child {
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  &:last-child {
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  &:not(:first-child):not(:last-child) {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    padding: 0 7px;
  }

  &_no-border {
    border: none;
  }
}
