@import "../variables";

.#{$prefix}input {
  position: relative;
  font-family: $font-family;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  color: $input-font-color;
  border: 1px solid #d9d9d9;
  transition: all .3s;
  outline: 0;
  border-radius: $input-border-radius;
  font-size: $font-size;

  &_sm {
    font-size: $input-sm-font-size;
    padding: $input-sm-padding;
    height: $input-sm-height;
    line-height: $input-sm-height;
  }

  &_md {
    font-size: $input-md-font-size;
    padding: $input-md-padding;
    height: $input-md-height;
    line-height: $input-md-height;
  }

  &_lg {
    font-size: $input-lg-font-size;
    padding: $input-lg-padding;
    height: $input-lg-height;
    line-height: $input-lg-height;
  }

  &:hover {
    border-color: $primary-color;
  }

  &:focus {
    border-color: rgba($primary-color, 0.8);
    box-shadow: 0 0 0 2px rgba($primary-color, 0.2);
  }

  &::placeholder {
    color: #BFBFBF;
  }

  &_disabled {
    cursor: not-allowed;
    background-color: #f4f4f5;
    color: #999;

    &:hover {
      border-color: #d9d9d9;
    }
  }

  &_inside{
    padding: 0 30px;
  }
}

.#{$prefix}input-group {
  width: 100%;
  display: table;
  box-sizing: border-box;
  position: relative;

  & > .#{$prefix}input, .#{$prefix}input-group-addon, .#{$prefix}input-group-btn {
    display: table-cell;
  }

  .#{$prefix}input {
    z-index: 1;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }

  &_inside {
    .#{$prefix}input {
      border-radius: $input-border-radius !important;
    }
  }
}

.#{$prefix}input-group-addon {
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  text-align: center;
  line-height: 1;
  border-radius: $input-border-radius;

  &_sm {
    font-size: $input-sm-font-size;
  }

  &_md {
    font-size: $input-md-font-size;
  }

  &_lg {
    font-size: $input-lg-font-size;
  }

  &:first-child {
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  &:last-child {
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  &:not(:first-child):not(:last-child) {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }

  &_inside {
    background-color: transparent;
    border: none;
    position: absolute;
    z-index: 2;
    min-width: 30px;

    &:first-child {
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child {
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &_no-border{
    border: none;
  }
}
