@import "../variables";
@import "./icon";

.#{$prefix}message {
  position: relative;
  padding: 10px 16px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: all 300ms;
  opacity: 0;
  transform: translateY(-5px);
  box-sizing: border-box;

  &-container {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    pointer-events: none;
    transition: top 200ms;
    z-index: 999;
    box-sizing: border-box;
  }

  &__content {
    font-size: 14px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.65);
  }

  &_fade-slide {
    &-enter {
      opacity: 0;
      transform: translateY(-5px);
    }

    &-enter-done {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__icon {
    margin-right: 5px;
  }
}
