@use 'sass:math';
@use '../../style/variables' as *;

.#{$prefix}-popup {
  box-sizing: border-box;
  border-radius: $popover-border-radius;
  white-space: nowrap;
  font-size: $font-size-base;
  text-align: left;
  box-shadow: var(--ty-shadow-popup);
  z-index: 999;

  &__arrow, &__arrow:before {
    width: $popover-arrow-size;
    height: $popover-arrow-size;
    box-sizing: border-box;
    position: absolute;
  }

  &__arrow:before {
    content: '';
    transform: rotate(45deg);
  }

  &_light {
    background-color: var(--ty-popup-light-bg);
    color: var(--ty-color-text-secondary);
    .#{$prefix}-popup {
      &__arrow:before {
        background: var(--ty-popup-light-bg);
      }
    }
  }

  &_dark {
    background-color: var(--ty-popup-dark-bg);
    color: #fff;
    .#{$prefix}-popup {
      &__arrow:before {
        background: var(--ty-popup-dark-bg);
      }
    }
  }

  &[data-popper-placement^='top'] {
    & > .#{$prefix}-popup__arrow {
      bottom: math.div(-$popover-arrow-size, 2);

      &:before {
        box-shadow: 3px 3px 7px var(--ty-popup-arrow-shadow);
      }
    }
  }

  &[data-popper-placement^='bottom'] {
    > .#{$prefix}-popup__arrow {
      top: math.div(-$popover-arrow-size, 2);

      &:before {
        box-shadow: -2px -2px 5px var(--ty-popup-arrow-shadow);
      }
    }
  }

  &[data-popper-placement^='left'] {
    > .#{$prefix}-popup__arrow {
      right: math.div(-$popover-arrow-size, 2);

      &:before {
        box-shadow: 3px -3px 7px var(--ty-popup-arrow-shadow);
      }
    }
  }

  &[data-popper-placement^='right'] {
    > .#{$prefix}-popup__arrow {
      left: math.div(-$popover-arrow-size, 2);

      &:before {
        box-shadow: -3px 3px 7px var(--ty-popup-arrow-shadow);
      }
    }
  }
}
