@import '../../style/variables';

.#{$prefix}slider {
  height: 4px;
  margin: 13px 7px;
  background-color: #e4e8f1;
  border-radius: 3px;
  position: relative;
  box-sizing: border-box;

  &__bar {
    height: 4px;
    border-radius: 3px;
    background-color: $primary-color;
    position: absolute;
  }
}
