@import '../../style/variables';

.#{$prefix}-pop-confirm {
  color: var(--ty-color-text-secondary);

  &__overlay {
    padding: 4px;
  }

  &__messages {
    padding: 0 0 12px;
    font-size: $font-size-base;
    display: flex;
    align-items: center;
  }

  &__buttons {
    text-align: right;
  }

  &__title {
    margin-left: 5px;
  }

}
