.test{

  &__dot-example {
    width: 42px;
    height: 42px;
    border-radius: 4px;
    background: #aaa;
    display: inline-block;
  }

  .demo-grid{
    background-color: #00a0e9;
    padding: 8px;
    margin: 4px 0;
    color: #fff;
  }
}
