@import '../../style/variables';

.#{$prefix}-aspect-ratio {
  box-sizing: border-box;
  position: relative;
  display: inline-block;

  &__padding {
    display: block;
    height: 0;
  }

  &__inside {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}
