@use '../../style/variables' as *;

.#{$prefix}-input-pwd {
  &__suffix {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    color: inherit;
  }

  &__icon {
    color: var(--ty-color-text-tertiary);
    transition: color 250ms;

    &:hover{
      color: var(--ty-color-text-secondary);
    }
  }
}
