@import '../../style/variables';

.#{$prefix}-input-pwd {
  &__suffix {
    cursor: pointer;
  }

  &__icon {
    color: var(--ty-color-text-tertiary);
    transition: color 250ms;

    &:hover{
      color: var(--ty-color-text-secondary);
    }
  }
}
