@import '../../variables';

.code-block {
  &__container {
    border-top: solid 1px var(--ty-color-border-secondary);
    transition: 0.2s;
    margin: 20px 0 0;
  }

  &__previewer {
    color: var(--ty-color-text-secondary);
    padding: 24px;
    overflow-x: auto;

    @media (max-width: $size-md) {
      padding: 16px;
    }
  }

  &__editor-container {
    background-color: var(--ty-color-fill);
    border-top: solid 1px var(--ty-color-border-secondary);
    padding: 15px;
    overflow-x: scroll;
    font-family: Menlo, Consolas, "Droid Sans Mono", monospace;

    .npm__react-simple-code-editor__textarea {
      outline: none;
      font-family: inherit;
    }
  }

  &__editor-wrapper {
    max-width: 800px;
    width: 100%;
  }

  &__controller {
    border-top: dashed 1px var(--ty-color-border-secondary);
    height: 36px;
    line-height: 36px;
    box-sizing: border-box;
    background-color: var(--ty-color-bg-elevated);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
    color: var(--ty-color-text-tertiary);
    cursor: pointer;
    transition: 0.2s;
    font-size: 12px;

    &:hover {
      color: var(--ty-color-primary);
      background-color: var(--ty-color-fill);
    }
  }
}
