@import "../../../themes/index";

.#{$prefix}overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 300ms;

  &_default {
    background-color: rgba(0, 0, 0, .75);
    backdrop-filter: blur(3px);
  }

  &_inverted {
    background-color: rgba(255, 255, 255, .75);
    backdrop-filter: blur(3px);
  }

  &_hidden{
    display: none;
  }

  &_fade {
    &-enter {
      opacity: 0;
    }

    &-enter-active {
      opacity: 1;
    }

    &-enter-done{
      opacity: 1;
    }

    &-exit {
      opacity: 1;
    }

    &-exit-active {
      opacity: 0;
    }

    &-exit-done{
      opacity: 0;
    }
  }
}
