@import '../../style/variables';

.#{$prefix}-tag {
  user-select: none;
  display: none;
  margin-right: 8px;
  padding: 3px 7px;
  font-size: 12px;
  border: 1px solid var(--ty-tag-border);
  border-radius: $tag-border-radius;
  color: var(--ty-color-text);
  background: var(--ty-tag-bg);

  a,
  a:hover {
    color: var(--ty-color-text-secondary);
  }

  &_visible {
    display: inline-block;
  }

  &__close-btn {
    cursor: pointer;
    font-size: 10px;
    margin-left: 5px;
    line-height: 1;
    transition: all 300ms;
    background: none;
    border: none;
    padding: 0;
    color: inherit;
    font-family: inherit;

    &:hover {
      opacity: 0.8;
    }
  }

  &_magenta {
    color: var(--ty-tag-magenta-color);
    background: var(--ty-tag-magenta-bg);
    border-color: var(--ty-tag-magenta-border);
  }

  &_red {
    color: var(--ty-tag-red-color);
    background: var(--ty-tag-red-bg);
    border-color: var(--ty-tag-red-border);
  }

  &_volcano {
    color: var(--ty-tag-volcano-color);
    background: var(--ty-tag-volcano-bg);
    border-color: var(--ty-tag-volcano-border);
  }

  &_orange {
    color: var(--ty-tag-orange-color);
    background: var(--ty-tag-orange-bg);
    border-color: var(--ty-tag-orange-border);
  }

  &_gold {
    color: var(--ty-tag-gold-color);
    background: var(--ty-tag-gold-bg);
    border-color: var(--ty-tag-gold-border);
  }

  &_lime {
    color: var(--ty-tag-lime-color);
    background: var(--ty-tag-lime-bg);
    border-color: var(--ty-tag-lime-border);
  }

  &_green {
    color: var(--ty-tag-green-color);
    background: var(--ty-tag-green-bg);
    border-color: var(--ty-tag-green-border);
  }

  &_cyan {
    color: var(--ty-tag-cyan-color);
    background: var(--ty-tag-cyan-bg);
    border-color: var(--ty-tag-cyan-border);
  }

  &_blue {
    color: var(--ty-tag-blue-color);
    background: var(--ty-tag-blue-bg);
    border-color: var(--ty-tag-blue-border);
  }

  &_geekblue {
    color: var(--ty-tag-geekblue-color);
    background: var(--ty-tag-geekblue-bg);
    border-color: var(--ty-tag-geekblue-border);
  }

  &_purple {
    color: var(--ty-tag-purple-color);
    background: var(--ty-tag-purple-bg);
    border-color: var(--ty-tag-purple-border);
  }
}

.#{$prefix}-checkable-tag {
  background-color: var(--ty-tag-checkable-bg);
  color: var(--ty-color-primary);
  border-color: var(--ty-tag-checkable-bg);
  transition: all 300ms;
  cursor: pointer;

  &_checked {
    background-color: var(--ty-color-primary);
    color: #fff;
    border-color: var(--ty-color-primary);
  }
}
