@import "../../style/mixins";

@mixin switch-bg($size) {
  width: $size;
  height: $size;
  border-radius: $size;

  &:before {
    content: '';
    width: ($size - 22px)/2 + 10px;
    height: ($size - 22px)/2 + 10px;
    @include loader();
    display: none;
  }
}

