@import '../../style/variables';

.#{$prefix}popover {

  &__title {
    margin: 0;
    padding: 9px 16px 7px;
    font-weight: 500;
    min-width: 177px;
    min-height: 32px;
  }

  &__content {
    padding: 12px 15px;
  }

  &_light {
    .#{$prefix}popover {
      &__title {
        color: rgba(0, 0, 0, 0.85);
        border-bottom: 1px solid #e8e8e8;
      }

      &__content {
        color: rgba(0, 0, 0, 0.65);
      }
    }
  }

  &_dark {
    .#{$prefix}popover {
      &__title {
        color: #fff;
        border-bottom: 1px solid #4a4a4a;
      }

      &__content {
        color: #fff;
      }
    }
  }
}

