@import '../../style/variables';

.#{$prefix}popover {
  box-sizing: border-box;
  border-radius: $popover-border-radius;
  white-space: nowrap;
  font-size: $font-size-base;
  text-align: left;
  box-shadow: $popover-box-shadow;

  &__arrow, &__arrow:before {
    width: $popover-arrow-size;
    height: $popover-arrow-size;
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
  }

  &__arrow:before {
    content: '';
    transform: rotate(45deg);
  }

  &__title {
    margin: 0;
    padding: 7px 16px;
    font-weight: 500;
    min-width: 177px;
    min-height: 32px;
  }

  &__content {
    padding: 12px 15px;
  }

  &_white {
    background-color: #fff;

    .#{$prefix}popover {
      &__title {
        color: rgba(0, 0, 0, 0.85);
        border-bottom: 1px solid #e8e8e8;
      }

      &__content {
        color: rgba(0, 0, 0, 0.65);
      }

      &__arrow:before {
        background: #fff;
      }
    }
  }

  &_dark {
    background-color: #262626;

    .#{$prefix}popover {
      &__title {
        color: #fff;
        border-bottom: 1px solid #4a4a4a;
      }

      &__content {
        color: #fff;
      }

      &__arrow:before {
        background: #262626;
      }
    }
  }
}

div[data-popper-placement^='top'] {
  & > .#{$prefix}popover__arrow {
    bottom: -$popover-arrow-size / 2;

    &:before {
      box-shadow: 3px 3px 7px rgba(0, 0, 0, .07);
    }
  }
}

div[data-popper-placement^='bottom'] {
  > .#{$prefix}popover__arrow {
    top: -$popover-arrow-size / 2;

    &:before {
      box-shadow: -2px -2px 5px rgba(0, 0, 0, .06);
    }
  }
}

div[data-popper-placement^='left'] {
  > .#{$prefix}popover__arrow {
    right: -$popover-arrow-size / 2;

    &:before {
      box-shadow: 3px -3px 7px rgba(0, 0, 0, .07);
    }
  }
}

div[data-popper-placement^='right'] {
  > .#{$prefix}popover__arrow {
    left: -$popover-arrow-size / 2;

    &:before {
      box-shadow: -3px 3px 7px rgba(0, 0, 0, .07);
    }
  }
}
