@use '../../style/variables' as *;

.#{$prefix}-skeleton {
  display: inline-block;
  width: 100%;
  height: 1em;
  position: relative;
  overflow: hidden;
  background-color: var(--ty-skeleton-bg);

  & + & {
    margin-top: 10px;
  }

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: var(--ty-skeleton-shimmer);
    background-size: 200% 100%;
    animation: ty-shimmer 1.5s ease infinite;
  }

  &_rounded {
    border-radius: 50%;
  }

  &_active {
    &:after {
      content: '';
    }
  }
}

@keyframes ty-shimmer {
  100% {
    transform: translateX(100%);
  }
}
