@import '../../style/variables';

.#{$prefix}-form {

  &_vertical {
    .#{$prefix}-form-item__label {
      text-align: left;
    }
  }

  &_inline {
    display: flex;
    flex-wrap: wrap;
  }
}

.#{$prefix}-form-item {
  margin-bottom: 22px;
  vertical-align: top;

  &__label {
    line-height: 30px;
    text-align: right;
    vertical-align: top;
    color: rgba(0, 0, 0, 0.85);
    font-size: $font-size-base;

    &_required:before {
      content: '*';
      margin-right: 3px;
      color: rgb(255, 77, 79);
    }

    &_colon:after {
      content: ':';
      margin: 0 8px 0 2px;
    }
  }

  &__input {
    position: relative;
    min-height: 32px;
    display: flex;
    align-items: center;
  }

  &__input-content {
    flex: auto;
    max-width: 100%;
  }

  &__error {
    min-height: 22px;
    line-height: 22px;
    font-size: 13px;
    color: #ff4d4f;
  }

  &__helper {
    font-size: 13px;
    color: #999;
  }

  &__notice {
    font-size: 13px;
    border-radius: 2px;
    background: #fff7cc;
    color: #333;
    padding: 5px;
    margin-bottom: 3px;
  }

  &_with-err-label {
    margin-bottom: 0;
  }

  &_has-error {
    .#{$prefix}-input__input, .#{$prefix}-input-number__input, .#{$prefix}-textarea {
      border-color: #ff4d4f;

      &:not([disabled]):hover{
        border-color: #ff4d4f;
      }

      &:focus{
        border-color: #ff7875;
        box-shadow: 0 0 0 2px rgba(255,77,79,.2);
      }
    }
  }
}
