@import "./animation";

@mixin loader() {
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  border-width: 2px;
  border-color: currentColor currentColor transparent transparent;
  border-style: solid;
  border-radius: 50%;
  animation: ty-rotate-reverse 600ms infinite linear;
}
