@import "./animation";

@mixin loader() {
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  border-width: 2px;
  border-color: currentcolor currentcolor transparent transparent;
  border-style: solid;
  border-radius: 50%;
  animation: spin 600ms infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
