@import '../../style/variables';

.#{$prefix}-popup {
  box-sizing: border-box;
  border-radius: $popover-border-radius;
  white-space: nowrap;
  font-size: $font-size-base;
  text-align: left;
  box-shadow: $popover-box-shadow;

  &__wrapper {
    display: inline-block;
  }

  &__arrow, &__arrow:before {
    width: $popover-arrow-size;
    height: $popover-arrow-size;
    box-sizing: border-box;
    position: absolute;
  }

  &__arrow:before {
    content: '';
    transform: rotate(45deg);
  }

  &_light {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.65);
    .#{$prefix}-popup {
      &__arrow:before {
        background: #fff;
      }
    }
  }

  &_dark {
    background-color: #262626;
    color: #fff;
    .#{$prefix}-popup {
      &__arrow:before {
        background: #262626;
      }
    }
  }

  &[data-popper-placement^='top'] {
    & > .#{$prefix}-popup__arrow {
      bottom: -$popover-arrow-size / 2;

      &:before {
        box-shadow: 3px 3px 7px rgba(0, 0, 0, .07);
      }
    }
  }

  &[data-popper-placement^='bottom'] {
    > .#{$prefix}-popup__arrow {
      top: -$popover-arrow-size / 2;

      &:before {
        box-shadow: -2px -2px 5px rgba(0, 0, 0, .06);
      }
    }
  }

  &[data-popper-placement^='left'] {
    > .#{$prefix}-popup__arrow {
      right: -$popover-arrow-size / 2;

      &:before {
        box-shadow: 3px -3px 7px rgba(0, 0, 0, .07);
      }
    }
  }

  &[data-popper-placement^='right'] {
    > .#{$prefix}-popup__arrow {
      left: -$popover-arrow-size / 2;

      &:before {
        box-shadow: -3px 3px 7px rgba(0, 0, 0, .07);
      }
    }
  }
}

