@import '../../style/variables';

.#{$prefix}popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &__container,
  &__content {
    position: absolute;
  }

  &__container {
    &_hide {
      display: none;
    }
  }
}
