@import '../../style/variables';

.#{$prefix}-transfer {
  box-sizing: border-box;
  font-size: $font-size-base;
  color: $font-color;

  &__left-arrow {
    transform: rotate(-90deg);
  }

  &__right-arrow {
    transform: rotate(90deg);
  }

  &__buttons {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 8px;
    vertical-align: middle;

    .#{$prefix}-btn {
      display: block;
      margin: 3px 0;
      padding: 3px;
      min-width: 30px;
    }
  }
}

.#{$prefix}-transfer-panel {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  width: 180px;
  border: 1px solid #d9d9d9;
  border-radius: $border-radius;

  &__header {
    padding: 8px 12px 9px;
    color: $font-color;
    background: #fff;
    border-bottom: 1px solid #f0f0f0;
    border-radius: $border-radius $border-radius 0 0;
  }

  &__body {
    position: relative;
    padding: 6px 0;
  }

  &__input-container{
    padding: 6px 12px 12px;
  }

  &__list {
    display: block;
    position: relative;
    height: 192px;
    overflow-y: auto;
    margin: 0;
    list-style: none;
  }

  &__list-item {
    box-sizing: border-box;
    padding: 0 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-height: 32px;
    display: flex;
    margin-right: 0;
    transition: background-color 250ms;

    &:not(.#{$prefix}-checkbox_disabled):hover{
      background-color: #f5f5f5;;
    }
  }

  &__not-found {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  &__footer {
    padding: 8px 12px 9px;
    border-top: 1px solid #f0f0f0;
    background-color: #fff;
    border-radius: 0 0 $border-radius $border-radius;
  }
}
