@import "../base";

.component-page {
  height: calc(100vh - 64px);

  &__sider {
    border-right: 1px solid #d5d5d5;
    padding: 20px 0;
    font-family: "Avenir Next", Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

  &__title {
    margin: 0 30px;
    height: 55px;
    line-height: 55px;
    font-size: 16px;
    color: #18181a;
    font-weight: 500;
  }

  &__menu, &__menu-item {
    list-style-type: none;
  }

  &__menu {
    margin: 0;
    padding: 0;
  }

  &__menu-item {
    line-height: 40px;
    font-size: 14px;
    position: relative;
    padding-left: 65px;

    a {
      text-decoration: none;
      color: #333;

      &:hover {
        color: $main-color;
        text-shadow: 1px 1px 4px rgba($main-color, .2);
      }

      &:before {
        content: '';
        position: absolute;
        width: 3px;
        height: 0;
        top: 50%;
        left: 45px;
        transform: translateY(-50%);
        background-color: rgba($main-color, .8);
        transition: height 300ms;
      }

      &:after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    &_active {
      color: $main-color !important;

      &:before {
        height: 21px !important;
      }
    }
  }

  &__group-title {
    color: #999;
    font-size: 14px;
    padding-left: 45px;
  }

  &__group-list {
    margin: 10px 0;
    padding: 0;
  }

}
