@import "../../style/variables";

.#{$prefix}-link {
  color: var(--ty-color-primary);
  text-decoration-line: none;

  &_disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  &_no-underline{
    &:hover {
      text-decoration-line: none;
    }
  }
}
