@mixin button-style(
  $color,
  $background,
  $border,
  $hover-background: null,
  $hover-border: null,
  $hover-color: $color,
  $active-background: null,
  $active-border: null,
  $active-color: $color,
) {
  color: $color;
  background: $background;
  border-color: $border;
  &:hover {
    color: $hover-color;
    @if $hover-background { background: $hover-background; }
    @if $hover-border { border-color: $hover-border; }
  }

  &:focus {
    color: $hover-color;
    @if $hover-background { background: $hover-background; }
    @if $hover-border { border-color: $hover-border; }
    z-index: 1;
  }

  &:active {
    color: $active-color;
    @if $active-background { background: $active-background; }
    @if $active-border { border-color: $active-border; }
  }

  &:disabled {
    color: var(--ty-btn-disabled-color);
    background-color: var(--ty-btn-disabled-bg);
    border-color: var(--ty-btn-disabled-border);
  }
}

@mixin btn-size($padding, $font-size, $height) {
  padding: $padding;
  font-size: $font-size;
  height: $height;
}
